/* body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
} */


.header {
    height: 100px;
    border-bottom: 1px solid black;
    padding: 10px;

    background-image: url('../images/piano-keyboard.jpg');
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 1px 1px 3px black;
}


.left {
    width: 100px;
    padding: 30px 5px;
    border-right: 1px solid black;
    background-image: url('../images/notes_bg.jpg');
    background-repeat: repeat;
    background-size: auto; 
    position: relative;
    z-index: 2;
}


.mainbody {
    flex: 1;
    padding: 20px;
}

.right {
    width: 100px;
    padding: 30px 5px;
    border-left: 1px solid black;
    background-image: url('../images/notes_bg.jpg');
    background-repeat: repeat;
    background-size: auto; 
    position: relative;
    z-index: 2;
}


.footer {
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-size: 10px;
    position: relative;
    z-index: 1; 
}

.layout.container {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 40px); 
    position: relative;
    z-index: 2; 
}

