body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.common {
    background-color: white;
    /* border: 2px solid white; */
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: 1px solid black;
}

.left {
    top: 114px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 30px;
    border-right: 1px solid black;
    padding-right: 5px;
}

.mainbody {
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-left: 5px;
    padding-right: 5px;
}

.right {
    top: 114px;
    width: 100px;
    right: 5px;
    bottom: 39px;
    border-left: 1px solid black;
    padding-left: 5px;
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}

.subheader {
    float: right;   
}