body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(216, 216, 216);
}
.resume_paragraph {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: normal;
}
.bold {
    font-weight: bold;
}
a {
    color: rgb(0, 8, 255);
    text-decoration: none;
}
.white_link {
    color: white;
    text-decoration: none;
}   
a:hover {
    text-decoration: underline;
    color:black
}
.box1 {
    border: 1px solid grey;
}
.box2 {
    padding: 5px;
}
.box3 {
    margin: 50px;
}
.link_hidden {
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
}
/* h2 {
    text-align: center;
} */