body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 240, 240);
}
.resume_paragraph {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: normal;
}
a {
    color: rgb(0, 8, 255);
    text-decoration: none;
}
.white_link {
    color: white;
    text-decoration: none;
}   
a:hover {
    text-decoration: underline;
    color:rgb(118, 118, 118)
}
.link_hidden {
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
}