body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: dimgray;
    background-color: rgb(0, 127, 129);
}
li {
    font-size: 13px;
    color: black;
    font-weight: normal;
}
.bold {
    font-weight: bold;
}
.justify {
    text-align: justify;
}
.homebg {
    background-image: url('../images/grey_sky.jpg');
    background-position: top left;
    background-size: cover;
}