body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(216, 216, 216);
}
li {
    font-size: 13px;
    color: black;
    font-weight: normal;
}
.bold {
    font-weight: bold;
}
.justify {
    text-align: justify;
}
.homebg {
    background-image: url('../images/grey_sky.jpg');
    background-position: top left;
    background-size: cover;
}
a {
    color: rgb(139, 0, 0);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color:black
}